---
import { Image } from 'astro:assets';
import { existsSync } from 'node:fs';
import type { ImageMetadata } from "astro";
import { downloadOgImage } from '../../../lib/og-image.js';
import { join } from 'node:path';

export interface Props {
	url: string;
}


const {url} = Astro.props as Props;
const repository = new URL(url).pathname.replace(/^\/|\/$/g, '')
const ogImageFile = join('/src/components/work/github', `${repository}.png`);

// Download the image if it doesn't exist
if (import.meta.env.DEV && !existsSync(`.${ogImageFile}`)) {
	await downloadOgImage(url, `.${ogImageFile}`);
}

const images = import.meta.glob<{ default: ImageMetadata }>('/src/components/work/github/**/*.png')
if (!images[ogImageFile]) throw new Error(`Image not found: ${ogImageFile}`);
---

<article>
	<a href={url} target="_blank" rel="noopener" class="block hover:no-underline">
		<Image
			src={images[ogImageFile]()}
			alt={`GitHub repository ${repository}`}
			class="w-full aspect-2/1 object-cover object-top"
			itemprop="image"
			loading="lazy"
		/>
		<span class="sr-only">Visit GitHub repository</span>
	</a>
	<div class="p-4 leading-relaxed text-slate-600">
		<slot/>
	</div>
	<footer class="px-4 pb-4">
		<a href={url} target="_blank" rel="noopener" class="btn btn-xs">
			View Code
		</a>
	</footer>
</article>

<style>
	@reference "tailwindcss";

	article {
		@apply overflow-hidden flex flex-col;
		@apply rounded-xl border border-slate-200 bg-white;
		@apply transition-shadow hover:shadow-md;
		@apply has-[:focus-visible]:outline has-[:focus-visible]:outline-offset-1;
	}
</style>